@import "../../styles/variables";

.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem auto;
  max-width: 1400px;
  padding-left: 50px;
  padding-right: 50px;

}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  width: 100%;

  @media (max-width: $mobile-breakpoint) {
    grid-template-columns: 1fr;
  }
}

.weekDayHeading {
  @media (max-width: $mobile-breakpoint) {
    display: none;
  }
}

.calendarHeading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  width: 100%;
}

.calendarHeadingText {
  font-size: 24px;
  font-weight: bold;
  border-radius: 5px;
  width: 100%;
  text-align: center;

  @media (max-width: $mobile-breakpoint) {
    text-align: left;
  }
}

.calendarActionBtn {
  background-color: white;
  color: black;
  padding: 10px 15px;
  border-radius: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-wrap: nowrap;

  &:hover {
    background-color: #f0f0f0;
  }

  &:active {
    background-color: #e0e0e0;
  }

  @media (max-width: $mobile-breakpoint) {
    order: 1;
    margin-top: 10px;
    margin-left: 10px;
  }

}

.weekDay {
  height: 40px;
}