@import "../../styles/variables";

.date {
  min-height: 100px;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;

  &:first-child {
    grid-column-start: var(--start-column);

    @media (max-width: $mobile-breakpoint) {
      grid-column-start: initial;
    }
  }
}

.eventWrapper {
  width: 100%;
}

.event {
  background-color: #ffcc00;
  padding: 5px 10px;
  border-radius: 20px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.eventTitle {
  background-color: #ffcc00;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.eventDeleteBtn {
  background-color: inherit;
  border: none;
  border-radius: 100%;
  padding: 5px 10px;
  cursor: pointer;
}

.dateLabel {
  display: flex;
  gap: 10px
}

.weekLabel {
  display: none;

  @media (max-width: $mobile-breakpoint) {
    display: inline;
  }
}